{%extends "base.html"%}
{% block content %}
		<section>
			<div class="block no-padding">
				<div class="banner-section">
					<img src="{{url_for('static',filename='images/1a2091e9-ab21-4a58-b3c7-cefc2bb9f2f5.jpg')}}" alt="">
				</div><!--banner-section end-->
			</div>
		</section>

		<section>
			<div class="block">
				<div class="container">
					<div class="about-us">
						<h3 class="heading-title"><strong>About Salon On Click</strong></h3>
						<p>This software is best suited for beauty salons, hair salons, barber shops, nail salons. It helps in managing the appointments, inventories, commission, billing, marketing, memberships, petty cash, feedback of clients and many more.</p>
					</div><!--about-us end-->
				</div>
			</div><!--about-section end-->
		</section>

		<section>
			<div class="construct-info">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="construct-details">
								<h2>Kons Construction <br /> Is A Leading Company In The Capital Construction And<br /> Fit-Out Market</h2>
							</div><!--construct-details end-->
						</div>
						<div class="col-lg-6">
							<div class="about-img">
								<img src="{{url_for('static',filename='images/c4c1b3af-a215-4790-bac7-458b8a864e64.jpg'" alt="">
							</div><!--about-img end-->
						</div>
					</div>
				</div>
			</div><!--construct-info end-->
		</section>

		<section>
			<div class="block">
				<div class="container no-pd">
					<div class="title">
						<h3 class="heading-title">What We Do</h3>
						<p>helping hair and nail salons, beauty parlors, barber shops, tanning salons, lash and blow-out bars, and other service providers.  <br /> Our mission is to help these businesses and make it faster .</p>
					</div><!--title end-->
					<div class="our-services">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="service-details">
									<div class="service-info">
										<div class="srvc-icon">
											<span class="lnr lnr-apartment"></span>
											<h3>Design & Construction</h3>
										</div>
										<p>Construction of all types of buildings, infrastructure and civil works construction</p>
									</div>
								</div><!-- service-details end-->	
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="service-details">
									<div class="service-info">
										<div class="srvc-icon">
											<span class="lnr lnr-layers"></span>
											<h3>Rennovation & Reconstruction</h3>
										</div>
										<p>We’re offer reconstruction & rennovation service for any types of buildings.</p>
									</div>
								</div><!-- service-details end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="service-details">
									<div class="service-info">
										<div class="srvc-icon">
											<span class="lnr lnr-chart-bars"></span>
											<h3>Turnkey Contracting</h3>
										</div>
										<p>We offer  full contracting services and have the flexibility to assist our clients</p>
									</div>
								</div><!-- service-details end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="service-details">
									<div class="service-info">
										<div class="srvc-icon">
											<span class="lnr lnr-cog"></span>
											<h3>Equipment Installation</h3>
										</div>
										<p>We’re offer removal & installaion service with quality & quickly process</p>
									</div>
								</div><!-- service-details end-->
							</div>
						</div>
					</div><!--our-services end-->
				</div>
			</div>
		</section>


		<section>
			<div class="container">
				<div class="director-msg">
					<p>“ The secret to the successful implementation of this project is simple. We just brought together the best people and understood that we were facing a task that is unique in its scale & ignificance. ”</p>
					<h4>Robert Downey Jr</h4>
					<span>Project Director</span>
				</div><!--director-msg end-->
			</div>
		</section>


		<section>
			<div class="block">
				<div class="container">
					<div class="director-info">
						<div class="row">
							<div class="col-lg-10">
								<div class="contractor-details">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="director-img">
												<img src="http://via.placeholder.com/300x430" alt="">
											</div><!--director-img end-->
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="director-details">
												<h3>Conor McGregor</h3>
												<span>CEO Founder</span>
												<p>CEO-founder of Kons Construction Co he manages the development of projects from Madrid to Shanghai whilst also beign to CTBUH representative for Spain; all of this alongside his continuous resararch into sustainable architecture. He received his masters degree in architecture from the Universidad Politécnica de Madrid in 1980.</p>
												<ul>
													<li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
													<li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#" title=""><i class="fa fa-linkedin-square"></i></a></li>
												</ul>
											</div><!--director-details end-->
										</div>
									</div>
								</div><!--contractor-details end-->
							</div>
						</div>
					</div><!--director-info end-->
				</div>
			</div>
		</section>
		{%endblock%}
