{%extends "base.html"%}
{% block content %}




		<section class="main-slider style2">
	        <div class="container">
	            <div id="rev_slider_476_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
	            <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
	                <div id="rev_slider_476_1" class="rev_slider" style="display:none;" data-version="5.3.0.2">
	                    <ul>    
	                        <!-- SLIDE  -->
	                        <li data-index="rs-1648" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="images/slider_banner.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
	                            <!-- MAIN IMAGE -->
	                            <img src="{{url_for('static',filename='images/c4c1b3af-a215-4790-bac7-458b8a864e64.jpg')}}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="" class="rev-slidebg" data-no-retina>
	                            <!-- LAYERS -->
	                            
	                            <!-- LAYER NR. 1 -->
	                            <div class="tp-caption lyr3 tp-resizeme" 
	                                id="slide-1648-layer-1" 
	                                data-x="center" data-hoffset="0" 
	                                data-y="center" data-voffset="-200" 
	                                data-width="['auto']"
	                                data-height="['auto']"
	                                data-type="text" 
	                                data-responsive_offset="on" 
	                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'  
	                                data-paddingtop="[0,0,0,0]"
	                                data-paddingright="[0,0,0,0]"
	                                data-paddingbottom="[15,15,15,15]"
	                                data-paddingleft="[0,0,0,0]"
	                                data-start="200"
	                                data-splitin="chars"
	                                data-splitout="none"
	                                data-elementdelay="0.04"
	                                style="text-shadow: #c2096f 1px 0 10px; color:white; tex-align:left;">“  ”Wave Goodbye to the distractions <br>,wasting your time <br>and say hello to more time
	                            </div>

	                            <!-- LAYER NR. 2 -->
	                            <div class="tp-caption lyr4 tp-resizeme" 
	                                id="slide-1648-layer-2" 
	                                data-x="center" data-hoffset="0" 
	                                data-y="center" data-voffset="-35" 
	                                data-width="['auto']"
	                                data-height="['auto']"
	                                data-type="text" 
	                                data-responsive_offset="on" 
	                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'  
	                                data-paddingtop="[0,0,0,0]"
	                                data-paddingright="[0,0,0,0]"
	                                data-paddingbottom="[10,10,10,10]"
	                                data-paddingleft="[0,0,0,0]"
	                                data-start="2000"
	                                data-splitin="chars"
	                                data-splitout="none"
	                                data-elementdelay="0.06"
	                                style="">by jim rhon
	                            </div>
	                            <!-- LAYER NR. 3 -->
	                            <a href="#" title="" class="tp-caption layera stt2 tp-resizeme custom_white"
	                                id="slide-1-layer-3"
	                                data-x="center" data-hoffset="0"
	                                data-y="center" data-voffset="60		"
	                                data-width="['auto','auto','auto','auto']"
	                                data-height="['auto','auto','auto','auto']"
	                                data-transform_idle="o:1;" 
	                                data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'  
	                                data-paddingtop="[20,20,20,20]"
	                                data-paddingright="[20,20,20,20]"
	                                data-paddingbottom="[20,20,20,20]"
	                                data-paddingleft="[20,20,20,20]"
	                                data-start="1500"
	                                data-splitin="none"
	                                data-splitout="none"
	                                data-elementdelay="0.05"
	                                style="">Get a quotes
	                            </a>
	                        </li>
	                    </ul>
	                </div>
	            </div><!--Revolution Slider end-->
	            <div class="cntct-info">
	            	<div class="container">
	            		<div class="cntct-info-details">
		            		<div class="our-addrs-info">
		            			<ul>
		            				<li>
		            					Email:
		            					<strong>hello@kons.co</strong>
		            				</li>
		            				<li>
		            					Phone:
		            					<strong class="scnd">(+035) 527-1710-70</strong>
		            				</li>
		            			</ul>
		            		</div><!--our-addrs-info end-->
		            		<div class="soc-links">
		            			<ul>
		            				<li>Follow us:</li>
		            				<li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
		            				<li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
		            				<li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
		            				<li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
		            				<li><a href="#" title=""><i class="fa fa-rss"></i></a></li>
		            			</ul>
		            		</div>
	            		</div><!--cntct-info-details end-->
	            	</div>
	            </div><!--cntct-info end-->
	        </div>
	    </section><!--main-slider end-->


	    <main>

		    <section class="mg-top-minus">
		    	<div class="container3">
			    	<div class="block">
			    		<div class="fixed-bg bg2"></div>
			    		<div class="why-choose-us">
			    			<div class="title-sm">
			    				<h3>why choose <strong>Salon On Click</strong></h3>
			    			</div><!--title-sm end-->
			    			<div class="our-specifications">
			    				<div class="row">
			    					<div class="col-lg-6">
			    						<div class="spec-hd">
			    							<h2>Salons and spas love the integrated salon point of sale POS system. ... Salon On Click is a useful client manager and makes it easy to keep up-to-date and in contact with all of your clients.Product Sales and inventory. Manage your salon's product inventory, and even sell products to clients right on your phone or tablet..</h2>
			    						</div>
			    					</div>
			    					<div class="col-lg-6">
			    						<div class="properties">
			    							<div class="choosing-que">
			    								<h3>Easy</h3>
			    								<p>Our salon software is all about ease of use, add any appointment to the schedule quickly</p>
			    							</div><!--choosing-que end-->
			    							<div class="choosing-que">
			    								<h3>Simple</h3>
			    								<p> Allow clients to book their own appointments online </p>
			    							</div><!--choosing-que end-->
			    							<div class="choosing-que">
			    								<h3>Flexible</h3>
			    								<p>When things change, you can easily modify, reschedule or cancel any appointment (or multiple appointments) on one screen</p>
			    							</div><!--choosing-que end-->
											<div class="choosing-que">
			    								<h3>Helpful</h3>
			    								<p>Coordinate your appointments, schedule, staff, and equipment</p>
			    							</div><!--choosing-que end-->
			    						</div><!--properties end-->
			    					</div>
			    				</div>
			    			</div><!--our-specifications end-->
			    		</div><!--why-choose-us end-->
			    	</div>
		    	</div>
		    </section>

		    <section>
		    	<div class="block remove-btm-gap">
		    		<div class="container">
		    			<div class="title-sm">
		    				<h3>All the great tools you need to run your Salon,<br><br> Spa or Wellness business!</h3>
		    			</div><!-- title-sm end-->
		    			<div class="specialization-data">
		    				<div class="specialization">
				    			<div class="spec-details">
				    				<div class="row">
				    					<div class="col-lg-8">
				    						<div class="spec-img">
				    							<figure>
				    								<img src="{{url_for('static',filename='images/4fa7806b-04ed-4a8f-9a13-9bb0f7aeb0a5.jpg')}}" alt="">
">
				    							</figure>
				    						</div><!--spec-img end-->
				    					</div>
				    					<div class="col-lg-4">
				    						<div class="spec-text right-bdr right">
				    							<h3>Schedule Appointments</h3>
				    							<p>Powerful calendar scheduling features that can handle all your salon appointment bookings</p>
				    							<a href="#" title="">Learn More</a>
				    						</div><!--spec-text end-->
				    					</div>
				    				</div>
				    			</div><!--spec-details end-->
			    			</div><!--specialization end-->
			    			<div class="specialization style2">
				    			<div class="spec-details">
				    				<div class="row">
				    					<div class="col-lg-5">
				    						<div class="spec-text bfr ep-icon">
				    							<h3>Manage your clients</h3>
				    							<p>Salon On Click offer a management features with detailed client appointments history, booking preferences, future bookings and contact details....</p>
				    							<a href="#" title="">Learn More</a>
				    						</div><!--spec-text end-->
				    					</div>
				    					<div class="col-lg-7">
				    						<div class="spec-img">
				    							<figure>
				    								<img src="{{url_for('static',filename='images/d7cbed2a-1a1a-4435-8050-dc2c814e2919.jpg')}}" alt="">
				    							</figure>
				    						</div><!--spec-img end-->
				    					</div>
				    				</div>
				    			</div><!--spec-details end-->
			    			</div><!--specialization end-->
			    			<div class="specialization">
				    			<div class="spec-details">
				    				<div class="row">
				    					<div class="col-lg-8">
				    						<div class="spec-img">
				    							<figure>
				    								<img src="{{url_for('static',filename='images/79f1cc2b-ac1b-48b5-a6e4-5de149d266d9.jpg')}}" alt="">
				    							</figure>
				    						</div><!--spec-img end-->
				    					</div>
				    					<div class="col-lg-4">
				    						<div class="spec-text right-bdr right">
				    							<h3>Sales & Products</h3>
				    							<p>Takes care of your salon and Spa pos sales transactions, invoicing, receipts, taxes and retail product management..</p>
				    							<a href="#" title="">Learn More</a>
				    						</div><!--spec-text end-->
				    					</div>
				    				</div>
				    			</div><!--spec-details end-->
			    			</div><!--specialization end-->
						<div class="specialization style2">
				    			<div class="spec-details">
				    				<div class="row">
				    					<div class="col-lg-5">
				    						<div class="spec-text bfr ep-icon">
				    							<h3>Point Of Sales(POS)</h3>
				    							<p>Ability to manage and track inventory Sell retail products without appointment Carry out full inventory audits,providing   barcode scanners, receipt printers and cash drawers</p>
				    							<a href="#" title="">Learn More</a>
				    						</div><!--spec-text end-->
				    					</div>
				    					<div class="col-lg-7">
				    						<div class="spec-img">
				    							<figure>
				    								<img src="{{url_for('static',filename='images/07c15a02-f208-442a-ac54-6ad7f76d942e.jpg')}}" alt="">
				    							</figure>
				    						</div><!--spec-img end-->
				    					</div>
				    				</div>
				    			</div><!--spec-details end-->
			    			</div><!--specialization end-->
						<div class="specialization">
				    			<div class="spec-details">
				    				<div class="row">
				    					<div class="col-lg-8">
				    						<div class="spec-img">
				    							<figure>
				    								<img src="{{url_for('static',filename='images/36df8051-3ed1-4414-9f29-6ac7bd6e16d8.jpg')}}" alt="">
				    							</figure>
				    						</div><!--spec-img end-->
				    					</div>
				    					<div class="col-lg-4">
				    						<div class="spec-text right-bdr right">
				    							<h3>Real-Time Reports</h3>
				    							<p>This feature enables salons manager to check the status of their performance at any given moment and get the most up-to-date results possible. To put it simply, it is the easiest way for businesses to assess their performance right now</p>
				    							<a href="#" title="">Learn More</a>
				    						</div><!--spec-text end-->
				    					</div>
				    				</div>
				    			</div><!--spec-details end-->
			    			</div><!--specialization end-->
						<div class="specialization style2">
				    			<div class="spec-details">
				    				<div class="row">
				    					<div class="col-lg-5">
				    						<div class="spec-text bfr ep-icon">
				    							<h3>Credit Card Processing</h3>
				    							<p>Integrated credit card processing simplifies checkout – no more switching between systems as your client waits. Consolidated reporting means no more reconciling bank statements with closed tickets to determine if you’ve been paid for all your work..</p>
				    							<a href="#" title="">Learn More</a>
				    						</div><!--spec-text end-->
				    					</div>
				    					<div class="col-lg-7">
				    						<div class="spec-img">
				    							<figure>
				    								<img src="{{url_for('static',filename='images/21971359-4d29-45dd-a99a-896774d8ec5c.jpg')}}" alt="">
				    							</figure>
				    						</div><!--spec-img end-->
				    					</div>
				    				</div>
				    			</div><!--spec-details end-->
			    			</div><!--specialization end-->
							<div class="specialization">
				    			<div class="spec-details">
				    				<div class="row">
				    					<div class="col-lg-8">
				    						<div class="spec-img">
				    							<figure>
				    								<img src="{{url_for('static',filename='images/f6f53c7a-5360-4b31-ba2d-9851482a1ae3.jpg')}}" alt="">
">
				    							</figure>
				    						</div><!--spec-img end-->
				    					</div>
				    					<div class="col-lg-4">
				    						<div class="spec-text right-bdr right">
				    							<h3>Staff management</h3>
				    							<p>We aim to simplify how efficiently you can organize your employee scheduling, including time off, add bookings to the appointment calendar and reschedule clients if they need to move their appointments.</p>
				    							<a href="#" title="">Learn More</a>
				    						</div><!--spec-text end-->
				    					</div>
				    				</div>
				    			</div><!--spec-details end-->
			    			</div><!--specialization end-->
							<div class="specialization style2">
				    			<div class="spec-details">
				    				<div class="row">
				    					<div class="col-lg-5">
				    						<div class="spec-text bfr ep-icon">
				    							<h3>Product inventory</h3>
				    							<p>Manage your beauty salon stock with supplier ordering and tracking for professional use and retail sales</p>
				    							<a href="#" title="">Learn More</a>
				    						</div><!--spec-text end-->
				    					</div>
				    					<div class="col-lg-7">
				    						<div class="spec-img">
				    							<figure>
				    								<img src="{{url_for('static',filename='images/13d4b362-2966-4b9d-82c3-6d6717855d79 (1).jpg')}}" alt="">
				    							</figure>
				    						</div><!--spec-img end-->
				    					</div>
				    				</div>
				    			</div><!--spec-details end-->
			    			</div><!--specialization end-->

		    		</div>
		    	</div>
			</section>

		    <section>
		    	<div class="block remove-btm-gap">
		    		<div class="title-sm">
		    			<h3>Our Portfolio</h3>
		    		</div><!--title-sm end-->
					<div class="house-imgs-slides style2 no-pd">
						<div class="house-slider style2">
							<div class="house-slide">
								<img src="{{url_for('static',filename='images/c189d3a7-c3f8-4ef1-81fd-e263a8efd3fb (1).jpg')}}" alt="">
								<div class="hs-info">
									<div class="container">
										<h3>Manage your salon and grow your brand with a single, powerful system</h3>
										<a href="#" title="">View Project <i class="fa fa-angle-right"></i></a>
									</div>
								</div><!--hs-info end-->
							</div><!--house-slide end-->
							<div class="house-slide">
								<img src="{{url_for('static',filename='images/1cdc6286-f4e5-400a-9c0d-16d9d69513cb.jpg')}}" alt="">
								<div class="hs-info">
									<div class="container">
										<h3>The All-In-One Scheduling App for Salon Professionals</h3>
										<a href="#" title="">View Project <i class="fa fa-angle-right"></i></a>
									</div>
								</div><!--hs-info end-->
							</div><!--house-slide end-->
							<div class="house-slide">
								<img src="{{url_for('static',filename='images/a720c488-49e6-4865-a18c-f415881d1f89.jpeg')}}" alt="">
								<div class="hs-info">
									<div class="container">
										<h3>The Best Salon and Spa Management Software</h3>
										<a href="#" title="">View Project <i class="fa fa-angle-right"></i></a>
									</div>
								</div><!--hs-info end-->
							</div><!--house-slide end-->
						</div><!--house-slider end-->
					</div><!--house-imgs-slides end-->
		    	</div>
		    </section>



		    <section>
		    	<div class="block no-padding">
		    		<div class="container">
		    			<div class="partners-section style2">
							<div class="container">
								<div class="title-sm ta-left">
									<h3>our clients</h3>
								</div><!--title end-->
								<ul class="partner-carousel"  >
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}1" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
									<li><a href="#" title=""><img src="{{url_for('static',filename='images/download.jpg')}}" alt=""></a></li>
								</ul>
							</div>
						</div><!--partners-section end-->
		    		</div>
		    	</div>
		    </section>


		    <section>
		    	<div class="block mg-btm--25">
		    		<div class="fixed-bg bg2"></div>
		    		<div class="container">
		    			<div class="testimonial-slider">
		    				<div class="review-comment">
		    					<p>“It’s been an absolute pleasure to work with Kons team, their response to our brief exceeded expectations and the execution was efficient, professional and very reassuring. I’d fully recommend theme.”</p>
		    					<h4>alex luthor</h4>
		    					<span>Project Manager at Spotify</span>
		    				</div><!--review-comment end-->
		    				<div class="review-comment">
		    					<p>“It’s been an absolute pleasure to wcient, professional and very reassuring. I’d fully recommend theme.”</p>
		    					<h4>alex luthor</h4>
		    					<span>Project Manager at Spotify</span>
		    				</div><!--review-comment end-->
		    				<div class="review-comment">
		    					<p>“work with Kons team, their response to our brief exceeded expectations and the execution was efficient, professional and very reassuring. I’d fully recommend theme.”</p>
		    					<h4>alex luthor</h4>
		    					<span>Project Manager at Spotify</span>
		    				</div><!--review-comment end-->
		    			</div><!--testimonial-slider end-->
		    		</div>
		    	</div>
		    </section>s

	    </main>

	   {%endblock%}
